{% extends "admin/layout.njk" %}

{% block head %}
    <title>Admin</title>
{% endblock %}

{% block content %}
<form class="card" method="POST" action="/admin/chefs">
    <section class="details">
        <div class="headerCreate">
                <h1>Novo Chef</h1>
                <button type="submit">Salvar Chef</button>
        </div>
        {% include 'admin/chefs/fields.njk' %}
    </section>
</form>
{% endblock content %}