{% extends "admin/layout.njk" %}

{% block head %}
    <title>Admin</title>
{% endblock %}


{% block content %}

<div class="chefs">
    {% for chef in chefs %}
    <div class="chef">
        <div class="imageChef"></div>
        <div>
            <h1>{{ chef.name }}</h1>
            <p>3 receitas</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}