{% extends "layout.njk" %}

{% block head %}
    <title>Receitas</title>
{% endblock %}


{% block content %}

<div class="items">
    <div class="item">
        <div class="imageFoot"></div>
        <h1>Triplo bacon burguer</h1>
        <p>por Jorge Relato</p>
    </div>
    <div class="item">
        <div class="imageFoot"></div>
        <h1>Pizza 4 estações</h1>
        <p>por Fabiana Melo</p>
    </div>
    <div class="item">
        <div class="imageFoot"></div>
        <h1>Espaguete ao alho</h1>
        <p>por Júlia Kinoto</p>
    </div>
    <div class="item">
        <div class="imageFoot"></div>
        <h1>Lasanha mac n' chesse</h1>
        <p>por Juliano Vieira</p>
    </div>
    <div class="item">
        <div class="imageFoot"></div>
        <h1>Docinhos pão-do-céu</h1>
        <p>por Ricardo Golvea</p>
    </div>
    <div class="item">
        <div class="imageFoot"></div>
        <h1>Asinhas de frango ao barbecue</h1>
        <p>por Vania Steroski</p>
    </div>
    <div class="item">
        <div class="imageFoot"></div>
        <h1>Triplo bacon burguer</h1>
        <p>por Jorge Relato</p>
    </div>
    <div class="item">
        <div class="imageFoot"></div>
        <h1>Pizza 4 estações</h1>
        <p>por Fabiana Melo</p>
    </div>
    <div class="item">
        <div class="imageFoot"></div>
        <h1>Espaguete ao alho</h1>
        <p>por Júlia Kinoto</p>
    </div>
    <div class="item">
        <div class="imageFoot"></div>
        <h1>Lasanha mac n' chesse</h1>
        <p>por Juliano Vieira</p>
    </div>
    <div class="item">
        <div class="imageFoot"></div>
        <h1>Docinhos pão-do-céu</h1>
        <p>por Ricardo Golvea</p>
    </div>
    <div class="item">
        <div class="imageFoot"></div>
        <h1>Asinhas de frango ao barbecue</h1>
        <p>por Vania Steroski</p>
    </div>
</div>

{% endblock content %}