<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <div class="link">
                <a href="/foodfy" id="foodfy">Foodfy</a>
                <a href="/receitas" class="others">Receitas</a>
                <a href="/chefs" class="others">Chefs</a>
            </div>
        </header>
        {% block content %}{% endblock %}
    </body>
    <script src="/scripts.js"></script>
</html>