@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* Geral */
* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

body, a {
    font-family: Roboto-Regular;
    color: #111111;
}

.container {
    width: 940px;
    margin: 0 auto;
}

/* Menu */

header {
    width: 940px;
    padding: 16px;
    margin-bottom: 50px;
}

#foodfy {
    font-size: 24px;
}

header .link div {
    display: inline;
    margin-left: 122px;
}

header .link div a {
    font-size: 16px;
    margin-right: 30px;
}

/* Imagem da Introdução */

.introduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #FBDFDB;
    border-radius: 30px;
    padding-left: 60px;
    padding-right: 100px;
    margin-top: -30px;
}

#introductionTitle{
    font-family: Roboto-Bold;
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 117px;
}

#text p {
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
}

#image {
    background-image: url("./assets/images/119236-OQ05QX-268.png");
    width: 216px;
    height: 300px;
    margin-top: 66px;
    margin-left: 200px;
}

/* Parte Inferior */

#acess {
    margin-top: 50px;
    font-family: Roboto-Bold;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Comidas */

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item {
    margin-bottom: 30px;
}

.imageFoot {
    width: 300px;
    height: 140px;
    background-image: url("./assets/images/Rectangle.png");
    border-radius: 15px;
    margin-bottom: 20px;
}

.item p {
    font-size: 14px;
    color: #777777;
}

.item h1 {
    margin-bottom: 5px;
    font-size: 18px;
    font-family: Roboto-Regular;
    font-weight: 400;
}

/* Rodapé */

footer {
    background: #EEEEEE;
    padding: 16px;
}

footer p {
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #999999;
    text-align: center;
}

/* Sobre */

#sobre {
    margin-bottom: 20px;
}

.subSobre {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: Roboto-Bold;
    font-size: 20px;
}

.textSobre {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.textSobre:last-child {
    margin-bottom: 50px;
}

/* Chefs */

.chefs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;   
    margin-bottom: 50px;
}

.chef {
    display: grid;
    grid-template-columns: 60px 1fr;
    margin-bottom: 50px;
}

.imageChef {
    width: 50px;
    height: 50px;
    background-image: url("./assets/images/Rectangle.png");
    border-radius: 50%;
    background-position: center;
}

.chef h1 {
    font-weight: 400;
    font-size: 18px;
}

.chef p {
    color: #999999;
}